<h1 class="pt-4 pb-4" >Editing User</h1>

<%= render 'form', user: @user, hide_password: true %>

<%= link_to 'Show', @user, class: "btn btn-secondary text-white" %> |
<%= link_to 'Back', users_path, class: "btn btn-light" %>
